.containVo{
    width: auto;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border : solid 1px black;
}

.containVo2{
    width: 50%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border : solid 1px black;
}

.divVo{
    display: block;
    margin: 0 auto;
    width: auto;
    height: auto;
    border : solid 1px rgb(235, 54, 54);
}

.caracVoaff{
    display: block;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    color: white;
    background-color: rgba(10, 10, 10, 0.836);
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid 1px black;
}

.imgVoaff{
    display: block;
    width: 400px;
    height: 300px;
    margin: 0 auto;
    border: solid 1px blueviolet;
}

.linkVoaff{
    text-decoration: none;
}