/*Pour ne pas laissez d'espace entre les div*/
*{
    margin: 0; 
    padding: 0;
}
/*-----------------------------------------------*/

/*header de la page*/
header{
    background-color: rgba(0, 76, 218, 0.712);
    padding-left: 25px;
    padding-right: 25px; 
    height: 68px;
}

.logocar{
    width: 64px;
    height: 64px;

}
/*-----------------------------------------------*/

/*Menu navigation*/
.nav{
    font-size: 20px;
    position: relative;
    bottom: 45px;
    left: 50%;
    width: 100%;    
}

.active{
    border-bottom: solid 3px black;
}

a{
    color: white;
    text-decoration: none;
    padding: 20px;
}

a:hover{
    border-bottom: solid 3px black;
}
/*-----------------------------------------------*/

section{
    height: 800px;
}

/*footer de la page*/

.pieds_de_page{
    background-color: rgba(29, 29, 29, 0.836);
    margin-left:auto;
    margin-right: auto;
    height: 200px;
    border: solid 1px black;
}
.pieds_de_page:hover{
    text-decoration: none;
}
/*-----------------------------------------------*/

@media only screen and (max-width: 600px) {
    header{
        background-color: rgba(0, 76, 218, 0.712);
        padding-left: 25px;
        padding-right: 25px; 
        height: 250px;
    }

    .logocar{
        width: 64px;
        height: 64px;
        display: block;
        margin-left: auto;
        margin-right: auto;  
    }

    .nav{
        font-size: 20px;
        position: relative;
        bottom: 1px;
        right: auto;
        left: auto;
        width: 100%;   
    }

    .active{
        border-bottom: none;
    }

    a{
        display: block;
        background-color:rgba(0, 78, 223, 0.836); ;
        color: white;
        text-decoration: none;
        text-align: center;
        padding: 10px;
        border: solid 1px black;     
    }
  }