/*Pour ne pas laissez d'espace entre les div*/
*{
    margin: 0; 
    padding: 0;
}

/*Pour éviter un scrollbar horizontal*/
body{
    overflow-x: hidden;
    font-family: sans-serif;
}
/*-----------------------------------------------*/

/*header de la page*/
header{
    background-image: url("https://cdn.pixabay.com/photo/2020/02/02/19/55/cars-4814015_1280.jpg");
    background-size: cover;
    height: 560px;
    width: 100%;
    
}

.container_nav{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    position: relative;
    top: 50px;
    overflow: hidden;
}

.logo{
    display: flex;
    width: 350px;
}

.logocar{
    width: 63.51px;
    height: 45.41px;
    padding-left: 20px;
    padding-right: 20px;
}

.text_logo{
    font-size: 30px;
    color: white;
    margin-top: 15px;
}
/*-----------------------------------------------*/

/*Menu navigation*/
.nav{
    font-size: 20px;
    width: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    text-align: center;
    left: 600px;    
}

.active{
    border-bottom: solid 2px #0079db;
}

a{
    color: white;
    text-decoration: none;
    padding: 20px;
}

a:hover{
    border-bottom: solid 2px rgb(255, 255, 255);
}
/*-----------------------------------------------*/

section{
    height: 800px;
}

/*footer de la page*/

/*
footer{
    background-color: rgba(29, 29, 29, 0.836);
    height: 360px;
}

.pieds_de_page{
    display: flex;
    border: solid 1px black;
}
.pieds_de_page:hover{
    text-decoration: none;
}*/

/*-----------------------------------------------*/

@media only screen and (max-width: 360px) {*

    /*Pour ne pas laissez d'espace entre les div*/
    *{
        margin: 0; 
        padding: 0;
    }

/*-----------------------------------------------*/
    
    /*Pour éviter un scrollbar horizontal*/
    body{
        overflow-x: hidden;
        font-family: sans-serif;
    }

    header{
        background-image: url("https://cdn.pixabay.com/photo/2020/02/02/19/55/cars-4814015_1280.jpg");
        height: 260px;
        max-width: 360px; 
    }

    .container_nav{
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 30px;
        max-width: 360px; 
    }

    .logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 360px; 
    }

    .logocar{
        width: 63.51px;
        height: 45.41px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        right: 50px;
    }

    .text_logo{
        font-size: 30px;
        color: white;
        margin-top: 15px;
        position: relative;
        left: 10%;
    }

    /*Menu navigation*/
    .nav{
        font-size: 20px;
        border: solid 1px black;
        height: 250px;
        width: 360px;
        margin-top: 15px;
        position: relative;
        left: auto;
        right: auto;
        background-color: rgb(33, 33, 33);   
    }

 

    .active{
        color:#0079db;
        border-bottom: none;
    }

    a{
        display: block;
        color: white;
        border-bottom: #0079db ;
        text-decoration: none;
        text-align: left;
        padding: 20px;
    }
/*-----------------------------------------------*/
      
  }
