*{
    margin: 0;
    padding: 0;
}



header{
    background-image: url("https://cdn.pixabay.com/photo/2020/02/02/19/55/cars-4814015_1280.jpg");
    background-size: cover;
    height: 600px;
    width: 100%; 
}

.logocar{
    display: flex;
    width: 200px;
    /*border:solid 1px black;*/
    position: relative;
    float: left;
    z-index:0;
    top: 15px;
    margin-top: 25px;
    margin-left: 50px;
}

.logo{
    width: 63.51px;
    height: 45.41px;
}

.titre_logo{
    font-size: 20px;
    color: white;
    padding-top: 10px;
    padding-left: 5px;
}


.navigation{
    /*border:solid 1px black;*/
    width: auto;
    height: 20%;
    float: right;
    display: flex;
    text-align: center;
    margin-top: 50px;
    margin-right: 50px;
}


.jbzz{
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
    color: white;
}

a:hover{
    border-bottom: solid 2px rgb(255, 255, 255);
}

.active{
    border-bottom: solid 2px #0079db;
}

.log_user{
    width: 16px;
    height: 18px;
    padding-right: 10px;
}

.cnxuser{
    color: white;
    /*border: solid 1px black;*/
    width: auto;
    display: flex;
    background-color: rgba(10, 10, 10, 0.836);
    border-radius: 20px;
}

.log-out{
    text-decoration: none;
    color: white;
    margin-left: 15px;
    
 }

 .log-out:hover{
    border-bottom: none;
    color : #0079db;
}



@media only screen and (max-width: 360px){
    *{
        margin: 0;
        padding: 0;
    }

    body{
        margin-top: 0;
    }

      header{
        background-image: url("https://cdn.pixabay.com/photo/2020/02/02/19/55/cars-4814015_1280.jpg");
        height: 260px;
        max-width: 360px; 
    }

    .logocar{
        display: flex;
        width: 200px;
        /*border:solid 1px black;*/
        position: relative;
        float: left;
        z-index:0;
        top: 0;
        margin-left: 15px;
    }

    .logo{
        width: 63.51px;
        height: 45.41px;
    }

    .titre_logo{
        font-size: 20px;
        color: white;
        padding-top: 10px;
        padding-left: 5px;
    }

    .navigation {
        /*border:solid 1px black;*/
        width: 250px;
        text-align: center;
        position: absolute;
        float: left;
        background-color: rgb(33, 33, 33);
        background-attachment: fixed;
        background-repeat: repeat;
        height: 1000px;
        margin-top: 0;
        display: block;
        z-index: 100;
    } 
    
    a{
        display: flex;
        padding: 20px;
        font-size: 20px;
        text-decoration: none;
        color: white;
    }

    .cnxuser{
        color: white;
        /*border: solid 1px black;*/
        width: auto;
        display: block;
        background-color: rgba(10, 10, 10, 0.836);
        border-radius: 20px;
    }

    .menuToggle span{
       height: 3px;
       background-color: rgb(255, 255, 255);
       width: 30px;
       position: absolute;
       top: 20px;
       right: 0;
       margin-top: 25px;
       margin-right: 15px;
    }

    .menuToggle span:before{
        content: '';
        height: 3px;
        background-color: rgb(255, 255, 255);
        width: 30px;
        position: absolute;
        top: -10px;
        right: 0;
    }

    .menuToggle span:after{
        content: '';
        height: 3px;
        background-color: rgb(255, 255, 255);
        width: 30px;
        position: absolute;
        top: 10px;
        right: 0;
    }

    .hide{
        margin-left: -350px;
        transition-duration: 0.2s;
    }

    .hide_open{
        margin-left: 0;
        transition-duration: 0.2s;
    }
}